@model List<GetNewsLetterQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}



<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Abone Bülteni</div>
        </div>
        <div class="card-body">

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>EMail</th>
                        <th colspan="2" class="text-center">İşlemler</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th>@count</th>
                            <td>@item.Email</td>
                            <td><a href="/NewsLetter/DeleteNewsLetter/@item.NewsLetterID" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/NewsLetter/UpdateNewsLetter/@item.NewsLetterID" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>
                    }

                </tbody>
            </table>
            <br />
            <a href="/NewsLetter/CreateNewsLetter" class="btn btn-outline-primary">Yeni Abone Ekle</a>
        </div>
    </div>
</div>