
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Sizlere daha iyi hizmet sunabilmek için bakımdayız , en kısa sürede görüşmek dileğiyle, Takipte kalın......</h1>

